@page "/boards"

@inject SurfsDownsBlazorUser User

<h3>Boards</h3>
<br />
<br />
<br />

<div class="main-container">
    <!-- Surfboards section -->
    <div class="product-list">
        <h3>Surfboards</h3>
        <div class="product-container">
            @foreach (var surfboard in _boards)
            {
                <div class="product-surfboard">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary surfboard-item d-block text-center py-2" asp-controller="rentorder" asp-action="index" asp-route-passedSurfboard="@surfboard.BoardName">
                            <img src="@Url.Content("~/images/blueTestTransp.png")" alt="Surfboard Image" class="img-fluid" />
                            <span>@surfboard.Name</span>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-warning surfboard-item d-block text-center py-2" href="/Identity/Account/Login">
                            <img src="@Url.Content("~/images/blueTestTransp.png")" alt="Surfboard Image" class="img-fluid" />
                            <span>@surfboard.Name</span>
                            <br />
                            <small>Login for at leje</small>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>


@* <ul>
    @foreach(var board in _boards)
    {
    <li>
        @board.Name is 
        <span style="color:@((board.IsAvailable ? "green" : "red"))">@(board.IsAvailable ? "Available" : "Unavailable")</span>
    </li>
    }
</ul> *@

@code {
    private List<Board> _boards = BoardsRepository.GetBoards();


}
